.contenedor {
    width: 500px;
    height: 750px;
    border: 7px solid black;
    text-align: center;
    box-sizing: border-box;
    font-size: 3em;
    background-color: rgb(213, 226, 236);
}
.errores {
    color: red;
    font-size: 12px;
}
.info-box {
    border: 2px solid #333;
    background-color: #f4f4f4;
    padding: 20px;
    width: 300px;
    display: none;
    margin-left: 700px;
    position: relative;
    
    
}

.info-box p {
    margin: 5px 0;
}
form {
    width: 450px;
    margin-bottom: 20px;
}

input {
    width: 50%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
}